<!--
  变量：
  know, 当前KnowledgeBlock节点.
  courseList, 课程列表，没想好是否包含所有来源，还是根据来源动态更新.
  source, 字符串，当前页面的课程来源.
  order, 按照那个东西排序.
    name 名称,
    score 评分,
    viewer_num 播放量, 
    comments_num 评论数, 
    duration 时长,(长到短)
    time_start 更新时间,

  发送给后端的事件：
  modifyTag, 刷新
  modifyIntro, 刷新
  modifyFavor, 不刷新
  crawlCourse, 刷新
  changeSource, 刷新
  changeOrder, 刷新
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
    <meta name="author" content="Webpixels">
    <title>课程列表</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="/static/boomerang/assets/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="/static/boomerang/assets/css/demo.css" rel="stylesheet">
    <style>
      .custom-heading {
          margin-top: 0px;
          margin-bottom: 30px;
          margin-left: 30px;
      }
      .custom-table td {
            color: black; 
            font-size: 16px;
        }
      .custom-table th {
            color: black; 
            font-size: 16px
      }
      .custom-table {
            margin-top: -60px;
      }
  </style>
  </head>
  <body>
        
    <!-- <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
      <div class="container">
        <h5 class="navbar-brand"><strong>课程网站</strong> </h5> 
      </div>
    </nav> -->
    <main class="main">
      <section class="py-xl bg-cover bg-size--cover" style="background-image: url('/static/boomerang/assets/images/backgrounds/img-1.jpg')"> <!--在这修改背景图片. -->
        <div class="page-header">
          <h2>&emsp;&emsp; {{know.name}} <small>课程列表</small></h2>
          <hr>
          <div onclick="modifyIntro()">
            <p style="color: black;">&emsp;&emsp;&emsp;&emsp;&emsp;<small>简介: </small><strong>{{know.introduction}}</strong></p>
          </div>
          <hr>
          <div onclick="modifyTag()">
            &emsp;&emsp;&emsp;&emsp;&emsp;
            <span class="font-weight-normal text-muted"><i class="fas fa-bookmark"></i></span>  
            <p style="color: black;">&emsp;&emsp;&emsp;&emsp;&emsp; <strong>{{know.tag}}</strong></p>
          </div>
        </div>
        <!-- <span class="mask bg-secondary alpha-6"></span>-->

        <div class="container">
          <div class="row">
              
              <div class="col">
                <h5 style="color:white;"><small>来源: </small>{{source}};&emsp; <small>排序: </small> {{order}}</h5>  <!--直接在这里修改查询的状态.-->
                  <div style="display: grid; place-items: center;">
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:BiliBili" onclick="changeSource('BiliBili')">BiliBili</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:国家高等教育智慧教育平台" onclick="changeSource('Chinaooc')">Chinaooc</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:中国大学MOOC" onclick="changeSource('CNMOOC')">CNMOOC</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:好大学在线" onclick="changeSource('HDXol')">HDXol</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:爱课程" onclick="changeSource('iCourse')">iCourse</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:慕课网" onclick="changeSource('iMOOC')">iMOOC</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:网易公开课" onclick="changeSource('NetEase')">NetEase</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="来源:学堂在线" onclick="changeSource('XTol')">XTol</button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="收藏" onclick="changeSource('Favor')">Favor</button>
                      </div>
                  </div>
              </div>
  
              <!--TODO: 改成按钮式下拉菜单-->
              <!--不知道为什么，html(html)之后第一次会失效...-->
              <!-- <div class="col-md-2">
                  <select class="selectpicker" title="排序方法" data-live-search="false" data-live-search-placeholder="查找 ..." onchange="changeOrder(this.value)">
                      <option>名称</option>
                      <option>评分</option>
                      <option>播放量</option>
                      <option>评论数</option>
                      <option>时长</option>
                      <option>更新时间</option>
                  </select>
              </div> -->
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    排序方法
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" onclick="changeOrder('名称')">名称</a>
                    <a class="dropdown-item" href="#" onclick="changeOrder('评分')">评分</a>
                    <a class="dropdown-item" href="#" onclick="changeOrder('播放量')">播放量</a>
                    <a class="dropdown-item" href="#" onclick="changeOrder('评论数')">评论数</a>
                    <a class="dropdown-item" href="#" onclick="changeOrder('时长')">时长</a>
                    <a class="dropdown-item" href="#" onclick="changeOrder('更新时间')">更新时间</a>
                </div>
              </div>
          </div>
      </div>

      <!--课程列表.-->
      <table class="table table-cards align-items-center">
        <thead>
            <tr class="bg-white">
                <th scope="col">课程名</th>
                <th scope="col">简介</th>
                <th scope="col">链接</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courseList %}
            <tr class="bg-white">
              <th scope="row">
                  <div class="media align-items-center">
                      <img src="{{course.cover}}" width="100" height="80">
                      <div class="media-body">
                          <h5 class="h5 font-weight-normal mb-0">&emsp; {{course.name}} &emsp;<small>{{course.score}}</small></h5>
                          <span class="font-weight-normal text-muted">
                            &emsp;
                            <i class="fas fa-eye"></i> {{course.viewer_num}}
                          </span>
                          <br>
                          <span class="font-weight-normal text-muted">
                            &emsp; <i class="fas fa-comment"></i> {{course.comments_num}}
                          </span>  
                          <br>
                          <div>
                            <span class="font-weight-normal text-muted">
                              {% if course.favor %}
                              <!--filter: drop-shadow(1000px 0 0 red); transform: translate(-1000px);-->
                              &emsp; <img src="/static/icons/heart-fill.svg" onclick="modifyFavor(this, '{{course.uid}}')" />
                              {% else %}
                              &emsp; <img src="/static/icons/heart.svg" onclick="modifyFavor(this, '{{course.uid}}')" />
                              {% endif %}
                              <!--先不给course加tag了..-->
                            </span>
                          </div>  
                      </div>
                  </div>
              </th>
              <td width="55%">{{course.introduction}}</td>
              <td width="15%">
                <button type="button" class="btn btn-primary btn-animated btn-animated-y" onclick="jumpToCourse('{{course.web}}')">
                    <span class="btn-inner--hidden">Go!</span>
                    <span class="btn-inner--visible"><i class="fas fa-link"></i></span>
                </button>
              </td>
            </tr>
            <tr class="table-divider"></tr>
            {% empty %}
            <tr class="bg-white">
              <td width="25%"><h5>暂无课程</h5></td>
              <td width="55%">
                {% if source != "Favor" %}
                <button type="button" class="btn btn-primary btn-animated btn-animated-y" onclick="crawlCourse()">
                  <span class="btn-inner--hidden">Start!</span>
                  <span class="btn-inner--visible"><h5>立即获取课程</h5></span>
                </button>
                {% else %}
                <h5>暂无课程</h5>
                {% endif %}
              </td>
              <td width="20%"><h6>暂无课程</h6></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
      </section>
    </main>

    <!--下方的黑框.-->
    <footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="pr-lg-5">
              <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>Boomerang</strong> UI Kit</h1>
              <p>添加简介</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <span class="">
            2023夏python大作业  署名
          </span>
        </div>
      </div>
    </footer>


    <!--模态框-->
    <!-- modal - modify intro -->
    <form class="form"  method="post"> <!--缺省action, 交给自己-->
      {% csrf_token %}
      <div class="modal fade" id="modifyIntro" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modifyIntroLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="modifyIntroLabel">修改简介</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <input type="text" name="source" value="{{source}}" hidden>
                  <input type="text" name="order" value="{{order}}" hidden>
                  <div class="form-group">
                      <label>简介</label>
                      <textarea class="form-control" id="knowledge_introduction" name="introduction" rows="4">{{know.introduction}}</textarea>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                  <button type="submit" class="btn btn-primary" name="submitType" value="modifyIntro">提交</button>
                  <!--submit不能 data-dismiss! 否则表单交不出去..-->
              </div>
          </div>
          </div>
      </div>
    </form>

    <!--修改tag的模态框.-->
    <form class="form"  method="post"> <!--缺省action, 交给自己-->
      {% csrf_token %}
      <div class="modal fade" id="modifyTag" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modifyTagLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="modifyTagLabel">Add Notes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <input type="text" name="source" value="{{source}}" hidden>
                  <input type="text" name="order" value="{{order}}" hidden>
                  <div class="form-group">
                      <label>Notes</label>
                      <textarea class="form-control" id="knowledge_introduction" name="tag" rows="4">{{know.tag}}</textarea>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                  <button type="submit" class="btn btn-primary" name="submitType" value="modifyTag">提交</button>
                  <!--submit不能 data-dismiss! 否则表单交不出去..-->
              </div>
          </div>
          </div>
      </div>
    </form>

    <!--显示正在爬取-->
    <div class="modal fade" id="onCrawling" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="onCrawling" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal_title_6">正在爬取</h5>
              </div>
              <div class="modal-body">
                  <div class="py-3 text-center">
                      <i class="fas fa-exclamation-circle fa-4x"></i>
                      <h4 class="heading mt-4">正在爬取课程，请耐心等待...</h4>
                  </div>
              </div>
          </div>
      </div>
    </div>


      <!--JQ获取到整个页面后，重新设置html，但是js脚本不会运行，所以获取之后就没有添加监听函数!-->
      <!-- 网站切换监听 --> 
      <!-- <script>
        const buttons = document.querySelectorAll('.btn-secondary');
        buttons.forEach(button => {
            button.addEventListener('click', function(event) {
              const buttonText = event.target.textContent;
              // alert('点击的按钮是:' + buttonText);
              // 修改来源.
              $.ajax({
                cache: false,
                url: window.location.href,
                type: "POST",
                headers: { 'X-CSRFTOKEN': `${token}` },
                dataType: "html", //没有用.
                data:{
                    "submitType": "changeSource",
                    "source": buttonText,  //要修改为这个Source.
                    "order": "{{order}}",
                },
                success: function (html) {
                  $('body').html(html);
                  //document.write(html);
                },
                error: function (xhr, status, error) {
                  alert("切换来源失败");
                }
              });
            });
        });
      </script> -->
    
      <!-- 排序方法监听 --> 
      <!-- <script>
      const selectElement = document.querySelector('.selectpicker');
      selectElement.addEventListener('change', function(event) {
          const selectedValue = event.target.value;
          // alert('选中的方法是：'+ selectedValue);
          $.ajax({
                cache: false,
                url: window.location.href,
                type: "POST",
                headers: { 'X-CSRFTOKEN': `${token}` },
                dataType: "html",
                data:{
                    "submitType": "changeOrder",
                    "source": "{{source}}",  
                    "order": selectedValue,  //要修改为这个顺序.
                },
                success: function html(html) {
                  $('body').html(html);
                },
                error: function (xhr, status, error) {
                  alert("切换排序方法失败");
                }
              });
      });
      </script> -->

      <!--各种回调函数-->
      <script>
        var token = "{{csrf_token}}";

        // 切换来源.
        function changeSource(newsrc) {
          $.ajax({
                cache: false,
                url: window.location.href,
                type: "POST",
                headers: { 'X-CSRFTOKEN': `${token}` },
                dataType: "html",
                data:{
                    "submitType": "changeSource",
                    "source": newsrc,  //要修改为这个Source.
                    "order": "{{order}}",
                },
                success: function (html) {
                  $('body').html(html);
                },
                error: function (xhr, status, error) {
                  alert("切换来源失败" + error);
                }
              });
        }

        function changeOrder(neworder) {
          // <a>的回调函数似乎需要有返回值.
          $.ajax({
                cache: false,
                url: window.location.href,
                type: "POST",
                headers: { 'X-CSRFTOKEN': `${token}` },
                dataType: "html",
                data:{
                    "submitType": "changeOrder",
                    "source": "{{source}}",  
                    "order": neworder,  //要修改为这个顺序.
                },
                success: function html(html) {
                  $('body').html(html);
                },
                error: function (xhr, status, error) {
                  alert("切换排序方法失败" + error);
                }
              });
        }

        function modifyFavor(heart_icon, uid) {
          if(heart_icon.src.search('/static/icons/heart-fill.svg') != -1){
            // 现在要取消收藏的.
            heart_icon.src = '/static/icons/heart.svg';
          }
          else{
            heart_icon.src = '/static/icons/heart-fill.svg';
          }
          $.ajax({
            cache: false,
            url: window.location.href,
            type: 'POST',
            headers: { 'X-CSRFTOKEN': `${token}` },
            dataType: 'text', //没有用.
            data:{
                'submitType': 'modifyFavor',
                'uid': uid,
            },
            error: function (xhr, status, error) {
                alert("收藏失败："+error);
            }
          });
          return false;
        }

        // 跳转到课程网页.
        function jumpToCourse(url) {
          window.open(url);
        }

        // 爬取课程.
        function crawlCourse() {
          const cururl = window.location.href;
          $.ajax({
            cache: false,
            url: cururl,
            type: "POST",
            headers: { 'X-CSRFTOKEN': `${token}` },
            dataType: "html",
            data:{
                "submitType": "crawlCourse",
                "source": "{{source}}",
                "order": "{{order}}",
            },
            success: function (html) {
                $('body').html(html);
            },
            error: function (xhr, status, error) {
                $('#onCrawling').modal("hide");
                alert('失败 '+error);
            }
          });
          $("#onCrawling").modal("show");
        }

        // 修改简介.
        function modifyIntro() {
          $('#modifyIntro').modal('show');          
        }

        // 修改tag
        function modifyTag(){
          $('#modifyTag').modal('show');
        }
      </script>
    
    <!-- Core -->
    <script src="/static/boomerang/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/boomerang/assets/vendor/popper/popper.min.js"></script>
    <script src="/static/boomerang/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- FontAwesome 5 -->
    <script src="/static/boomerang/assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
    <!-- Page plugins -->
    <script src="/static/boomerang/assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/boomerang/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/static/boomerang/assets/vendor/input-mask/input-mask.min.js"></script>
    <script src="/static/boomerang/assets/vendor/nouislider/js/nouislider.min.js"></script>
    <script src="/static/boomerang/assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
    <!-- Theme JS -->
    <script src="/static/boomerang/assets/js/theme.js"></script>
  </body>
</html>
