<!--TODO: 需要创建form: 头像上传文件.-->
<!--TODO: 需要建立链接，Tags和Graphs.跳转到相应页面-->

<!-- homepage.html context: 
user: instance of UserProfile, means current user.
GraphTag_List: list of GraphRoot instances.  
KnowTag_List:  list of KnowledgeBlock instances.
CourseTag_List:list of Course instances.
Graph_List: list of GraphRoot instances. -->

<h1>This is homepage...</h1>
<img width="50" height="50" src="{{user.profile_picture.url}}" alt="">
<p>User: {{user.username}} </p>

<h2>Tags</h2>
<h3>GraphTags</h3>
{% for graph_node in GraphTag_List %}
    <p>{{graph_node.uid}}--{{graph_node.graph_name}} : {{graph_node.tag}}</p>
{% endfor %}

<h3>KnowledgeTags</h3>
{% for know_node in KnowTag_List %}
    <p>{{know_node.uid}}--{{know_node.name}} : {{know_node.tag}}</p>
{% endfor %}

<h3>CourseTags</h3>
{% for course_node in CourseTag_List %}
    <p>{{course_node.uid}}--{{course_node.name}} : {{course_node.tag}}</p>
{% endfor %}

<h2>Graphs</h2>
{% for graph_node in Graph_List %}
    <a href="{% url 'Neo4j:kgviewer' graph_node.uid %}">
        {{graph_node.graph_name}}, uid: {{graph_node.uid}}
    </a>
{% endfor %}